*.diag
*.mod
*.o
*.d
*.param
*.pyc
*.cxx
*.sf.*
*.slite.*
*.su.*
*.mp4
*.mpeg
*.png
*.restart
*.timing
*~
*.so
*.ascii.*
*.column.*
Parameters.py
SimUnits.py
Sph.py
SphSim.py
SphSnap.py
toymain
.cproject
.project
.pydevproject
.settings
Untitled.build
gandalf

# Dirac testing
# Build logs
*.log
# Build reports
*.optrpt
*.s
# Installation
bin/
# Result directories
tests/*disc*.[0-9][0-9][0-9]
tests/*disc*.[0-9][0-9][0-9][a-z]
tests/*disc*.[0-9][0-9][0-9].[a-zA-Z0-9]*
# DiAL job output
*.[eo][0-9][0-9][0-9][0-9][0-9][0-9]
# Emacs files
BROWSE
TAGS

# Other
vtune2018
